{% extends 'base.html' %}

{% block content %}

    
    <div class="landing-page">
        <div class="welcome-section text-center">
            <h1>Hi there welcome to my photo gallery</h1>
            <a class="btn btn-primary animated flash" href="#images">Images</a>
        </div>
    </div><br><br>
    <div class="container-fluid">
            <div class="headings text-center" id="images">
                    <h1>Images</h1>
                </div>
        <div class="row">
            {% if images %}

            {% for image in images %}
                <div class="col-md-4 col-sm-4 col-xs-4 col-xl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{image.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{image.image_name}}</h5>
                            <p class="card-text">{{image.image_description}}</p>
                            <p class="card-text">Category: {{image.image_category.category}}</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% else %}

                <p>No images yet</p>

            {% endif %}
        </div>
    </div>

{% endblock %}