.welcome-section {
    padding-top: 200px;
    font-family: 'Merienda', cursive;
}

html {
    scroll-behavior: smooth;
}

.card-img-top {
    /* width: 285px; */
    height: 260px;   
}


body {
    background-image: url(../images/BeFunky-photo.jpg);
    background-color: black;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.headings {
    font-family: 'Merienda', cursive;
}

button {
    border-radius: 50px;
}

.image {
    width:550px;
    height: auto;
}

.form-style {        
        width: 50%;
        margin-left : 42%;
}

.custom-imagestyle {
    width: 283px;
    height: 280px;
}

.modal-content {
    background-color: black;
}
